{% load staticfiles i18n btce_rate %}<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block title %}MiningBank{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">MiningBank</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">{% if not request.user.is_authenticated %}
            <li><a href="{% url 'home' %}#contact">Contract</a></li>
            <li><a href="{% url 'home' %}#howitworks">How it works</a></li>
            <li><a href="{% url 'home' %}#whyus">Why us</a></li>
            <li><a href="{% url 'home' %}#faq">FAQ</a></li>
          {% else %}
            <li{% if dashboard_active %} class="active"{% endif %}><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li{% if shop_active %} class="active"{% endif %}><a href="{% url 'shop' %}">Shop</a></li>
            <li{% if history_active %} class="active"{% endif %}><a href="{% url 'history' %}">History</a></li>
            <li{% if payouts_active %} class="active"{% endif %}><a href="{% url 'payouts' %}">Payouts</a></li>
            <li{% if settings_active %} class="active"{% endif %}><a href="{% url 'settings' %}">Settings</a></li>
          {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}<li><a href="{% url 'admin:index' %}">[admin]</a></li>{% endif %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
              <li><a href="{% url 'signup' %}">Sign up</a></li>
              <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% if messages %}<div class="container">
        {% for message in messages %}<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade in" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            {{ message }}
        </div>{% endfor %}
    </div>{% endif %}

    <div class="affix right" style="top: 50px; left: 3px; z-index: 11000;"><span class="label label-success">{% view_rate %}</span></div>

    {% block content %}content block at base.html{% endblock %}

    <div id="footer">
        <div class="container">
            <ul class="nav navbar-nav center-block">
                <li><a href="/p/2/">Privacy Policy</a></li>
                <li><a href="/p/3/">Terms of use</a></li>
                <li><p class="text-muted">support: <a href="mailto:{{ FROM_EMAIL }}">{{ FROM_EMAIL }}</a></p></li>
            </ul>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block javascript %}{% endblock %}

  </body>
</html>
