{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block css %}
    <!-- Icons -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Log In - {{ SITE_DOMAIN }}{% endblock %}

{% block content %}

    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-group">
                        <div class="card p-2">
                            <div class="card-block">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
                                <form method="post">{% csrf_token %}
                                {% if form.non_field_errors %}<label class="text-danger" for="inputError1">{{ form.non_field_errors.0 }}</label>{% endif %}
                                {% if form.errors.username %}<label class="text-danger" for="inputError1">{{ form.errors.username.0 }}</label>{% endif %}
                                <div class="input-group mb-1{% if form.errors.username %} has-error{% endif %}">
                                    <span class="input-group-addon">@</span>
                                    </span>
                                    <input type="text" name="username" class="form-control" placeholder="Email">
                                </div>
                                {% if form.errors.password %}<label class="text-danger" for="inputError1">{{ form.errors.password.0 }}</label>{% endif %}
                                <div class="input-group mb-2{% if form.errors.password %} has-error{% endif %}">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                    </span>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="submit" class="btn btn-primary px-2" value="Login" />
                                    </div>
                                    <div class="col-xs-6 text-xs-right">
                                        <a href="{% url 'repaswd' %}" type="button" class="btn btn-link px-0">Forgot password?</a>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                            <div class="card-block text-xs-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="{% url 'signup' %}" type="button" class="btn btn-primary active mt-1">Register Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}