{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block title %}{{ object.name }} - {{ SITE_DOMAIN }}{% endblock %}
{% block content %}
    <div class="container">
        <hr class="featurette-divider">
{#      <div class="jumbotron">#}
          <div class="card">
              <div class="card-header"><h1>{{ object.name }}</h1><small>{{ object.create|date:"DATE_FORMAT" }}</small></div>
              <div class="card-block">{{ object.text|linebreaks }}</div>
          </div>
{#        <h1></h1>#}
{#        <p></p>#}
{#      </div>#}
    </div>

{% endblock %}