{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block css %}
    <!-- Icons -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}RePassword - {{ SITE_DOMAIN }}{% endblock %}
{% block content %}

    <div class="container">
        <div class="d-100vh-va-middle">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card mx-2">
                        <div class="card-block p-2">
                            <h1>Re password</h1>
                            <p class="text-muted">New password will be sent on Your email</p>
                            <form method="post">{% csrf_token %}
                            {% if form.non_field_errors %}<label class="text-danger" for="inputError1">{{ form.non_field_errors.0 }}</label>{% endif %}
                            {% if form.errors.email %}<label class="text-danger" for="inputError1">{{ form.errors.email.0 }}</label>{% endif %}
                            <div class="input-group mb-1{% if form.errors.email %} has-error{% endif %}">
                                <span class="input-group-addon">@</i>
                                </span>
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>

                            <input type="submit" class="btn btn-block btn-warning" value="Create Account">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}