{% extends 'base.html' %}
{% block title %}Settings - {{ SITE_DOMAIN }}{% endblock %}

{% block content %}
    <div class="container">
        <hr class="featurette-divider">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My account settings</h3>
            </div>
            <div class="panel-body">
                <form method="post">{% csrf_token %}
{#                    {{ form.as_ul }}#}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-xs-2 col-form-label">Email </label>
                        <div class="col-xs-10">
                            {{ request.user.email }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-xs-2 col-form-label">Country</label>
                        <div class="col-xs-10">
                            {% if form.errors.country %}<div class="text-danger">{{ form.errors.country.0 }}</div>{% endif %}
                            {{ form.country }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-search-input" class="col-xs-2 col-form-label">BTC wallet</label>
                        <div class="col-xs-10">
                            {% if form.errors.wallet %}<div class="text-danger">{{ form.errors.wallet.0 }}</div>{% endif %}
                            {{ form.wallet }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-xs-2 col-form-label">Auto payout</label>
                        <div class="col-xs-10 radio">
                            {% if form.errors.auto_payout %}<div class="text-danger">{{ form.errors.auto_payout.0 }}</div>{% endif %}
                            {{ form.auto_payout }}
                        </div>
                    </div>
                    <hr class="featurette-divider">
                    <input style="display:none" name="fakeLogin" type="text">
                    <input style="display:none" name="fakePassword" type="password">
                    <div class="form-group row">
                        <label for="example-search-input" class="col-xs-2 col-form-label">Old password</label>
                        <div class="col-xs-10">
                            {% if form.errors.old_pass %}<div class="text-danger">{{ form.errors.old_pass.0 }}</div>{% endif %}
                            {{ form.old_pass }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-xs-2 col-form-label">New password</label>
                        <div class="col-xs-10">
                            {% if form.errors.new_pass %}<div class="text-danger">{{ form.errors.new_pass.0 }}</div>{% endif %}
                            {{ form.new_pass }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-xs-2 col-form-label">Repeat new password</label>
                        <div class="col-xs-10">
                            {% if form.errors.new_pass2 %}<div class="text-danger">{{ form.errors.new_pass2.0 }}</div>{% endif %}
                            {{ form.new_pass2 }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}