{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block css %}
    <!-- Icons -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Sign Up - {{ SITE_DOMAIN }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="d-100vh-va-middle">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card mx-2">
                        <div class="card-block p-2">
                            <h1>Register</h1>
                            <p class="text-muted">Create your account</p>
                            <form method="post">{% csrf_token %}
                            {% if form.errors.email %}<label class="text-danger" for="inputError1">{{ form.errors.email.0 }}</label>{% endif %}
                            <div class="input-group mb-1{% if form.errors.email %} has-error{% endif %}">
                                <span class="input-group-addon">@</span>
                                <input type="email" name="email" class="form-control" required="" placeholder="Email">
                            </div>

                            {% if form.errors.country %}<label class="text-danger" for="inputError1">{{ form.errors.country.0 }}</label>{% endif %}
                            <div class="input-group mb-1{% if form.errors.country %} has-error{% endif %}">
                                <span class="input-group-addon"><i class="icon-globe"></i>
                                </span>
                                <input type="text" name="country" class="form-control" required="" placeholder="Country">
                            </div>

                            {% if form.errors.password1 %}<label class="text-danger" for="inputError1">{{ form.errors.password1.0 }}</label>{% endif %}
                            <div class="input-group mb-1{% if form.errors.password1 %} has-error{% endif %}">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" name="password1" class="form-control" placeholder="Password">
                            </div>

                            {% if form.errors.password2 %}<label class="text-danger" for="inputError1">{{ form.errors.password2.0 }}</label>{% endif %}
                            <div class="input-group mb-2{% if form.errors.password2 %} has-error{% endif %}">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" name="password2" class="form-control" placeholder="Repeat password">
                            </div>

                            <input type="submit" class="btn btn-block btn-success" value="Create Account">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}